
<div class="wrapper">

    <button type="button" class="btn btn-primary" (click)="initialize()">Inicializálás</button>
    <button type="button" class="btn btn-primary" (click)="createOffer()">Kapcsolódás</button>
    <button type="button" class="btn btn-primary" (click)="closeConnection()">Kapcsolat bontása</button>

    <div class="videos">
      <span>
        <h3>{{authService.getUserName()}} (helyi stream)</h3>
        <video [srcObject]="localStream" muted id="webcamVideo" autoplay playsinline></video>
      </span>
        <span *ngIf="!!remoteUser">
        <h3>{{remoteUser}}</h3>
        <video [srcObject]="remoteStream" id="remoteVideo" autoplay playsinline></video>
      </span>


    </div>
</div>